.chat-main
  .chat-main__group-info
    .group-top
      %p.group-top__left
        = @group.name
      .group-top__right
        = link_to edit_group_path(@group), class:"group-top__right--link" do
          Edit
    %ul.group-member
      Member :
      %li.group-member__li
        - @group.users.each do |member|
          = member.name
  .chat-main__message-list
    = render @messages
  .chat-main__message-form
    = form_for [@group, @message] do |f|
      .inputbox
        = f.text_field :content, class: 'inputbox__text', placeholder: 'type a message'
        = f.label :image, class: 'inputbox__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'inputbox__image__btn'
      = f.submit 'Send', class: 'submit-btn'